* {
    box-sizing: border-box;
}
nav, nav ul {
    margin-top: 0;
    background-color: #112935;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

nav a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.title {
    /* text-align: center; */
    position: relative;
    left: 100px;
}

nav h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    padding: 0 20px;
    color: white;
}



.button {
    background-color: #112935;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.button:hover {
    background-color: #1b4052
}

nav > ul > :last-child {
    float: right;
}