ul li {
    display: inline-block;
    list-style: none;
}

.login {
    margin: 0 15px;
}

.login-inputs:last-child {
    float: right;
}
/* 
section {
    background-color: #223d4e;
    color: rgb(211, 217, 219);
} */

.form-container {
    background-color: #112935;
    color: #cbd6db;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}





