.registration-form {
    /* margin: 0 auto; */
    /* border: 1px solid black; */
    background: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(95, 86, 86);
    margin-top: 50px;
    margin-bottom: 50px;
}

.registration-form > label, input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
}

.registration-form input {
    margin: 10px 60px;
    width: 200px;
}

.form-input {
    margin: 20px 40px;
}
.registration-form label {
    margin-top: 20px;
}
.reg-box {
    display: flex;
    justify-content: center;
    background: #112935;
}
/* .registration-form > input  */