.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 75px; */
    font-family: 'Barlow Condensed', sans-serif;
}

.search-form button {
    display: inline;
    /* width: 75px; */
}
.search-form div {
    display: inline-block;
}

div button {
    display: flex;
}

.search-form input {
    height: 50px;
    width: 640px;
    font-size: 35px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
