.search-result li {
    display: block;
}

.movie-item {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 33%; 
    /* margin: 0 50px; */
    align-items: center;
    margin: 25px 0;
}

.result-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 0;
}

