.button {
    text-decoration: none;
    color: white;
    background: rgb(233, 3, 3);
    border-radius: 25px;
    padding: 10px 30px;
    margin: 20px 0;
    font-size: 1.2em;
    width: 150px;
    transition: 0.25s;
}

.button:hover {
    background: darkblue;
    color: white;
    text-decoration: none;
}