.div {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    background: rgb(20, 125, 173);

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}