.header {
    display: flex;
    justify-content: center;
    margin: 200px 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.button {
    border-radius: 3px;
    padding: 10px;
}

.inputDiv {
    display: block;
}