.header {
    background-color: rgb(21, 51, 71);
    flex: 0 0 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.form {
    display: flex;
    width: 100%;
    /* padding: 30px; */
    height: 80px;
}

.button {
    border-radius: 3px;
    height: 20px;
}